/* FAQ section styles */
.faq-section {
    padding: 60px 0;
    margin-top: 20px;
    margin: 0 80px;
    width: auto;
    font-family: 'IvyOra Display Medium';
    font-style: Medium;
}

.faq-section h2 {
    text-align: left;
    margin-bottom: 40px;
    color: #3e573a;
    /* Dark green for title */
    font-weight: 500;
    padding-left: 20px;
    font-size: 35px;
    line-height: 100%;
    letter-spacing: 0%;

}

.faq-container {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
}

.faq-item {
    border-bottom: 1px solid #ccc;
    /* Divider line between questions */
    background: transparent;
    margin-bottom: 0;
    padding: 0;
    overflow: hidden;
}

.faq-question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.faq-question:hover {
    background-color: rgba(0, 0, 0, 0.02);
}

.faq-question h3 {
    margin: 0;
    font-size: 1.6rem;
    font-weight: 500;
    color: #435947;
    flex-grow: 1;
}

.faq-toggle {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    margin-left: 20px;
    position: relative;
    min-width: 40px;
    min-height: 40px;
}

/* Hide/show arrows based on state */
.faq-arrow-under,
.faq-arrow-top {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 0.3s ease;
}

.faq-arrow-top {
    opacity: 0;
    /* Oculta por defecto */
}

.faq-arrow-under {
    opacity: 1;
    /* Visible por defecto */
}

/* Mostrar flecha arriba cuando está activo */
.faq-item.active .faq-arrow-top {
    opacity: 1;
}

/* Ocultar flecha abajo cuando está activo */
.faq-item.active .faq-arrow-under {
    opacity: 0;
}

.faq-answer {
    padding: 0 20px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease, padding 0.4s ease;
}

.faq-item.active .faq-answer {
    padding: 0 20px 30px;
    max-height: 1000px;
}

.faq-answer p {
    margin: 0;
    line-height: 1.6;
    color: #555;
    font-size: 1.2rem;
    font-family: Avenir;
    font-weight: 350;
    font-style: Book;
}

/* Añadir primera línea divisoria en la parte superior */
.faq-container::before {
    content: '';
    display: block;
    border-top: 1px solid #ccc;
    margin-bottom: 0;
}

/* mobile */
@media (max-width: 950px) {
    .faq-section {
        margin: 0 20px;
    }

    .faq-question:hover {
        background-color: rgba(0, 0, 0, 0);
    }

    .faq-answer p {
        font-size: 1rem;
    }

    .faq-question h3 {
        margin: 0;
        font-size: 1.3rem;
    }
    .faq-section h2 {
        text-align: center;
    }
}