.moon-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0px;
    padding: 80px 20px;
}

/* 月亮基础样式 */
.moon-phase {
    width: 160px;
    height: 160px;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    /* 添加淡入动画 */
    opacity: 1;
    transition: opacity 0.5s ease;
    transition: -webkit-mask 5s ease;
}

/* 添加背景颜色蒙版 */
.moon-phase::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(255, 230, 150, 0.25);
    mix-blend-mode: multiply;
}

/* 月亮形状 */
.left-crescent {
    -webkit-mask: radial-gradient(circle at 90% 50%, transparent 45%, #000 45%);
}

.left-half {
    -webkit-mask: radial-gradient(circle at 110% 50%, transparent 40%, #000 40%);
    width: 200px;
    height: 200px;
    margin-right: -30px;
}

.full-moon {
    -webkit-mask: radial-gradient(circle, #000 100%);
    width: 260px;
    height: 260px;
}

.right-half {
    -webkit-mask: radial-gradient(circle at -10% 50%, transparent 40%, #000 40%);
    width: 200px;
    height: 200px;
    margin-left: -30px;
}

.right-crescent {
    -webkit-mask: radial-gradient(circle at 10% 50%, transparent 45%, #000 45%);
}


/* Navigation buttons below images */
.controls {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    margin: 0 auto;
    width: 100%;
    box-sizing: border-box;
    z-index: 20;
    gap: 50px;
}

.btn {
    pointer-events: auto;
    appearance: none;
    border: none;
    background: transparent;
    padding: 0;
    display: grid;
    place-items: center;
    cursor: pointer;
    transition: transform .2s ease;
    position: relative;
    z-index: 20;
    margin-top: 40px;
}

.btn.prev,
.btn.next {
    position: static;
}

.arrow-icon {
    width: 60px;
    height: 60px;
}

.btn:hover {
    transform: translateY(-2px);
}


@media screen and (max-width: 950px) {
    .full-moon {
        width: 200px;
        height: 200px;
    }

    .left-half,
    .right-half {
        width: 140px;
        height: 140px;
    }

    .left-half {
        margin-right: -30px;
    }

    .right-half {   
        margin-left: -30px;
    }

    .right-crescent,
    .left-crescent {
        width: 100px;
        height: 100px;
    }

}