/* Responsive styles for all pages */

/* General responsive styles */

/* table style */
@media screen and (max-width: 1024px) {
    
  
}

/* Mobile styles */
@media screen and (max-width: 768px) {
   
   
}

